$mainColor : #01579b;
$mainColor2 : #2c3f6d;
$mainColor3 : #4d89f2;

$white      : #fff;
$darkPink   : #f43451;
$pink       : #fc5974;
$blue       : #1e7ba1;
$lightBlue  : #247ea3;
$darkBlue   : #044159;
$grey       : #c7c7c7;
$lightGrey  : #e6ecee;
$lightGreen : #B2DBBF;